@charset "UTF-8";
/* 主色 */
/* 文字色 */
/* 边线颜色 */
/* 浅灰色背景 */
/* 内容宽度 */
/* 边框 */
/* 相对于父元素绝对定位并设置左右上下距离 */
/* 多行截取 */
/* 主色 */
/* 文字色 */
/* 边线颜色 */
/* 浅灰色背景 */
/* 内容宽度 */
/* 边框 */
/* 相对于父元素绝对定位并设置左右上下距离 */
/* 多行截取 */
/* 顶部高度 */
/* 顶部行高 */
/* 距离顶部高度 */
/* 顶部样式 */
.app-header-wrap {
  min-width: 1100px;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: 0 2px 20px #e8e8e8;
          box-shadow: 0 2px 20px #e8e8e8; }

.app-header {
  width: 1100px;
  margin: 0 auto; }

.header-logo {
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  background-color: #ffebeb;
  text-align: center;
  margin-right: 20px; }
  .header-logo img {
    height: 80%; }

.header-nav {
  margin-top: 10px; }
  .header-nav li {
    float: left;
    line-height: 40px;
    margin: 0 20px;
    font-size: 16px; }
    .header-nav li a {
      display: block; }
    .header-nav li.active a, .header-nav li:hover a {
      color: #f00; }

.header-login,
.header-unlogin {
  display: none; }

.header-unlogin,
.header-login {
  display: block;
  margin-top: 15px; }
  .header-unlogin a,
  .header-login a {
    display: block;
    float: left;
    width: 60px;
    text-align: center;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
    border: 1px solid #f00;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .header-unlogin a:hover,
    .header-login a:hover {
      color: #fff;
      background: #f00; }

.header-login {
  display: none; }
  .header-login span {
    float: left;
    line-height: 30px;
    font-size: 14px; }

/* 主色 */
/* 文字色 */
/* 边线颜色 */
/* 浅灰色背景 */
/* 内容宽度 */
/* 边框 */
/* 相对于父元素绝对定位并设置左右上下距离 */
/* 多行截取 */
.app-footer-wrap {
  min-width: 1100px;
  background: #f5f5f5;
  padding: 30px 0; }

.app-footer {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  color: #999; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-left {
  background-image: url(../images/icons.png);
  background-position: -127px -105px;
  width: 16px;
  height: 16px; }

.icon-arrow-right {
  background-image: url(../images/icons.png);
  background-position: -58px -90px;
  width: 16px;
  height: 16px; }

.icon-close {
  background-image: url(../images/icons.png);
  background-position: -127px -84px;
  width: 16px;
  height: 16px; }

.icon-history {
  background-image: url(../images/icons.png);
  background-position: -127px -63px;
  width: 16px;
  height: 16px; }

.icon-hot:hover {
  background-image: url(../images/icons.png);
  background-position: -90px 0px;
  width: 32px;
  height: 32px; }

.icon-hot {
  background-image: url(../images/icons.png);
  background-position: -90px -37px;
  width: 32px;
  height: 32px; }

.icon-minimum {
  background-image: url(../images/icons.png);
  background-position: -127px -42px;
  width: 16px;
  height: 16px; }

.icon-narrow {
  background-image: url(../images/icons.png);
  background-position: -37px -90px;
  width: 16px;
  height: 16px; }

.icon-play {
  background-image: url(../images/icons.png);
  background-position: 0px 0px;
  width: 48px;
  height: 48px; }

.icon-plus {
  background-image: url(../images/icons.png);
  background-position: -79px -90px;
  width: 16px;
  height: 16px; }

.icon-refresh {
  background-image: url(../images/icons.png);
  background-position: -100px -90px;
  width: 16px;
  height: 16px; }

.icon-scale {
  background-image: url(../images/icons.png);
  background-position: -127px 0px;
  width: 16px;
  height: 16px; }

.icon-search {
  background-image: url(../images/icons.png);
  background-position: -127px -21px;
  width: 16px;
  height: 16px; }

.icon-ticket:hover {
  background-image: url(../images/icons.png);
  background-position: 0px -90px;
  width: 32px;
  height: 32px; }

.icon-ticket {
  background-image: url(../images/icons.png);
  background-position: -37px -53px;
  width: 32px;
  height: 32px; }

.icon-user:hover {
  background-image: url(../images/icons.png);
  background-position: 0px -53px;
  width: 32px;
  height: 32px; }

.icon-user {
  background-image: url(../images/icons.png);
  background-position: -53px 0px;
  width: 32px;
  height: 32px; }

/* 内容区 */
.main-content {
  width: 1100px;
  margin: 20px auto;
  height: 800px; }

.main-content h3 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold; }

.test-btns {
  font-size: 0; }
  .test-btns span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    margin-left: 0;
    padding: 0 20px;
    font-size: 14px;
    cursor: pointer;
    background: #ff6666;
    color: #fff; }
    .test-btns span:hover {
      background: #f00; }

#test {
  color: #f00;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #e8e8e8; }
